body{
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
}
.logo{
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo .accent{
    color: #2e2f42;
}

.nav-list{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 1.5;
    color: #2E2F42;
}

.nav-list:hover,
.nav-list:focus{
    color: #404BBF;
}

.address{
    font-style: normal;
    font-weight: 400;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address:hover,
.address:focus{
    color: #404BBF;
}

.hero{
    background-color: #2E2F42;
}

.hero-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button{
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.features h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
}

.team h2{
    font-weight: 700;
    font-size: 36x;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team li{
    background-color: #FFFFFF;
}

.team h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

.portfolio h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background-color: #2E2F42;
}

.footer-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo .accent{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}